<!DOCTYPE html>
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		include ../inc/css.pug
		include ../inc/script.pug
	body
		//- 다수의 페이지 
		block body
		script(src=`${scriptFile}`)